<div class = "c11">
<!--<form name="form" ng-submit="method()" role="form">-->
<div style="margin-top: 10%; margin-left: 10%;" >
<table>
<tr><td><input style="margin-top: 3%; height: 30px; width: 160px;" type="text" name="title" id="title" size="14" value="{{clientname}}" /></td>
</table>
</div>

<div style="margin-top: 2%; margin-left: 10%;" >
<form name="form" ng-submit="addMob()" role="form">
<table>
<tr><td></td><td><input style="margin-top: 1%; height: 22px; width: 130px;" type= "text" id="newmob1" value="{{clientmob1}}" /></td>
<td><td>
<button type= "submit" style="margin-left: -3%;" id="newmob" class= "pl2"></button></td></td>
</tr>
<tr style="margin-top: 2%;" ><td><form name="form" ng-submit="subMob2()" role="form"><button type="submit" style="margin-left: -3%;" class= "m3"></button></form></td>
<td><form name="form" ng-submit="addMob2()" role="form"><input style="margin-top: 1%; height: 22px; width: 130px;" type= "text" value="{{clientmob2}}" /></td>
<td><td><button type= "submit" style="margin-left: -3%;" class= "pl2"></button></form></td></td>
</tr>
</table>
</form>
</div>


<div style="margin-top: 2%; margin-left: 10%;" >
<table>
<tr><td></td><td>

<form name="form" ng-submit="addemail1()" role="form">
<input style="margin-top: 1%; height: 22px; width: 130px;" type= "text" value="{{clientemail1}}" /></td>
<td>

<button type="submit" style="margin-left: -3%;" class= "pl2"></button></td></form>
</tr>
<tr><td><form name="form" ng-submit="subemail2()" role="form"><button type="submit" style="margin-left: -3%;" class= "m3"></button></form></td><td><form name="form" ng-submit="addemail2()" role="form">
<input style="margin-top: 1%; height: 22px; width: 130px;" type= "text" value="{{clientemail2}}" /></td>
<td><button type="submit" style="margin-left: -3%;" class= "pl2"></button></td></form>
</tr>
</table>
</div>


<div style="margin-top: 2%; margin-left: 14%;" >
<table>
<tr><td><input style="height: 60px; width: 162px;" type="text" name="title" id="title" size="14" value="{{clientaddress}}" /></td>
<td></td>
</tr>
<tr><td><input style="margin-top: 1%; height: 60px; width: 162px;" type="text" name="title" id="title" size="14" value="{{clientaddress}}" /></td><td></td></tr>
<td></td>
</table>
</div>


<p style="position: absolute; top: 80%; left: 34%; right: 1%; bottom: 1%;"><button class='b15'></button><br/><button class='b16' onclick="location.href='#/8';"></button></p>
<!--</form>-->
</div>
