<div class = "c12">
<form name="form" ng-submit="addOpp()" role="form">
<div style="margin-top: 10%; margin-left: 15%;" >
<table>
<tr><td><input style="margin-top: 1%; height: 30px; width: 175px;" type="text" name="newtitle" id="newtitle" size="14"  ng-model="newtitle" required /></td>
</table>
</div>

<div style="margin-top: 2%; margin-left: 15%;" >
<table>
<tr><td><input type= "text" /></td>
<td></td>
</tr>
<tr><td><input type= "text" /></td>
<td></td>
</tr>
</table>
</div>


<div style="margin-top: 3%; margin-left: 15%;" >
<table>
<tr><td><input type="text" name="newaddress" id="newaddress" size="14"  ng-model="newaddress" required /></td>
<td></td>
</tr>
<tr><td></td>
<td></td>
</tr>
</table>
</div>


<div style="margin-top: 4%; margin-left: 15%;" >
<table>
<tr><td><input style="height: 75px; width: 168px;" type="text" name="newlocation" id="newlocation" size="14"  ng-model="newlocation" required /></td><td></td></tr>
<td></td>
</table>
</div>


<p style="position: absolute; top: 80%; left: 34%; right: 1%; bottom: 1%;"><button class='b17'" type="submit"></button><br/><button class='b18' onclick="location.href='#/7';"></button></p>
</form>
</div>
