<div class = "c13">
<form name="form" ng-submit="method()" role="form">
<div style="margin-top: 10%; margin-left: 18%;" >
<table>
<tr><td><input class="t0" style="margin-top: 1%; height: 25px; width: 175px;" value="{{oppname}}" /></td>
</table>
</div>

<div style="margin-top: 1%; margin-left: 18%;" >
<table>
<tr><td><input class="t1" type= "text" style="margin-top: 1%; height: 25px; width: 175px;" value="{{oppmob1}}" /></td>
<td></td>
</tr>
<tr><td><input style="margin-top: 1%; height: 25px; width: 175px;" class="t2" type= "text" value="{{oppemail1}}" /></td>
<td></td>
</tr>
</table>
</div>


<div style="margin-top: 1%; margin-left: 18%;" >
<table>
<tr><td><input class="t3" style="margin-top: 1%; height: 25px; width: 175px;" type= "text" value="{{oppaddress}}" /></td>
<td></td>
</tr>
<tr><td></td>
<td></td>
</tr>
</table>
</div>


<div style="margin-top: 1%; margin-left: 18%;" >
<table>
<tr><td><input class="t4" style="height: 75px; width: 175px;" value="{{oppaddress}}" /></td>
<td></td>
</tr>
<tr><td></td><td></td></tr>
<td></td>
</table>
</div>


<p style="position: absolute; top: 82%; left: 35%; right: 1%; bottom: 1%;">
<button class='b19' onclick="location.href='#/14';"></button><br/><button class='b20' onclick="location.href='#/7';"></button></p>
</form>
</div>
