<div class = "c15">
<div style="margin-top: 10%; margin-left: 3%;" >
<table>
<tr><td><form name="form" ng-submit="method()" role="form">
<button style="height: 30px; width: 164px;" type="submit" class="mn1" onclick="location.href='#/16'"/></form></td></tr>
<tr><td><form name="form" ng-submit="method()" role="form">
<button style="height: 30px; width: 164px;" type="submit" class="mn2" onclick="location.href='#/17'" /></form></td></tr>
<tr><td><form name="form" ng-submit="method()" role="form">
<button style="height: 32px; width: 164px;" type="submit" class="mn3" onclick="location.href='#/18'" /></form></td></tr>
</table>
</div>
</div>