<div class = "c5">
<form name="form" ng-submit="cause()" role="form">
<div style="margin-top: 12%; margin-left: 15%;" >
<table>
<tr><td><input height: 40px; width: 180px;" type="text" name="newtitle" id="newtitle" size="14"  ng-model="newtitle" required /></td>
</table>
</div>

<div style="margin-top: 2%; margin-left: 15%;" >
<table>
<tr><td><button class= "a1"></button></td>
<td><button style="margin-left: 3%;" class= "pl1" onclick="location.href='#/9';"></button></td>
</tr>
<tr><td></td>
<td></td>
</tr>
</table>
</div>


<div style="margin-top: 7%; margin-left: 15%;">
<table>
<tr><td><button class= "p1"></button></td>
<td><button class= "pl1" onclick="location.href='#/12';"></button></td>
</tr>
<tr><td></td>
<td></td>
</tr>
</table>
</div>


<div style="margin-top: 12%; margin-left: 1%;">
<table>
<tr><td><input style="height: 40px; width: 65px;" type="text" name="newtime" id="newtime" size="14"  ng-model="newtime" required /></td>
<td><input style="margin-left: 1%; height: 40px; width: 160px;" type="text" name="newchron" id="newchron" size="14"  ng-model="newchron" required /></td>
<td><button  class= "pl1"></button></td>
</tr>
<tr><td></td><td></td><td></td></tr>

</table>
</div>

<div style="position:absolute; bottom: 5%; left: 1%;"><table><tr><td>
<form role="form" name="form" ng-submit="movel()">
<button class='bl' type="submit"></button></form></td><td>
<input style="height: 25px; width: 60px;" type="text" name="index" id="index" ng-model="index" /></td><td>
<form  role="form" name="form" ng-submit="mover()"></td><td>
<button type="submit" class='br'></button></form></td></tr></table>
</div>

<div style="position:absolute; bottom: 5%; left: 35%;">
<button type="submit" class='b4' id="cause"></button><br/><button class='b5'></button>
</form>
</div>

</div>