<div class = "c7">

<form name="form" ng-submit="method()" role="form">

<div style="margin-top: 8%; margin-left: 15%;" >
<table>
<tr><td><input style="margin-top: 1%; height: 40px; width: 180px;" type="text" name="title" id="title" size="14"  ng-model="title" required /></td>
</table>
</div>




<div style="margin-top: 1%; margin-left: 15%;" >
<table>
<tr><td><button class= "ctrl1" onclick="location.href='#/10';">{{clientname}}</button></td>
<td></td>
</tr>
<tr><td><button style="margin-top: -1%;" class= "ctrl2" onclick="location.href='#/10';"></button></td>
<td></td>
</tr>
</table>
</div>





<div style="margin-top: 2%; margin-left: 15%;" >
<table>
<tr><td><button class= "opp1" onclick="location.href='#/13';">{{oppname}}</button></td>
<td></td>
</tr>
<tr><td><button class= "opp2" onclick="location.href='#/13';"></button></td>
<td></td>
</tr>
</table>
</div>


<div style="margin-left: 2%; margin-top: 12%;" >
<table>
<tr>
<td><input style="height: 44px; width: 75px;" type="text" name="chron1time" id="chron1time"  ng-model="chron1time" required />
</td>
<td><input style="height: 44px; width: 180px;" type="text" name="chron1" id="chron1" size="14"  ng-model="chron1" required />
</td>
</tr>
<tr>
<td/><td><input style="height: 44px; width: 180px;" type="text" name="chron2" id="chron2" size="14"  ng-model="chron2" required />
</tr>
</table>
</div>



<p style="position: absolute; top: 84%; left: 35%; right: 1%; bottom: 1%;">
<button class='b7' onclick="location.href='#/8';">
</button><br/><button class='b8'></button></p>

</form>


<p style="position: absolute; left: 1%; right: 54%; bottom: 1%;">
<table><tr><td><form role="form" name="form" ng-submit="movel()"><button class='bl' type="submit"></button></td></form><td>
<form  role="form" name="form" ng-submit="mover()">
<input style="height: 25px; width: 75px;" type="text" name="index" id="index" size="14"  ng-model="index" /><button type="submit" class='br'></button></form></td>
</tr></table>
</p>


</div>
